<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kristi&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kristi&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&family=Kristi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/style.css">
    <title>Author</title>
</head>
<body>
    <div id="app">

    <!-- HEADER   -->
        <header class="">
            
            <nav>
                <div class="logo">
                    <img src="../../images/author-logo-round-200x205.png" alt="">
                </div>
                <ul>
                    <li v-for="el in navbarLinks">
                        <a href="el.link" v-if="el.link">{{el.text}}</a> 

                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="hero">
                <div class="author-name">
                    <h1>Damon Vaughn</h1>
                    <p>Best-selling author and the most influential public intellectual in the western world right now.</p>
                    <p class="NYT">– The New York Times</p>
                </div>
                <div class="buy">
                    <img src="images/book-widget.png" alt="">
                    <div class="last-book">
                        <h3>
                            Latest Book Release
                        </h3>
                        <h5>D. VAUGHN AUTOBIOGRAPHY</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates doloremque incidunt quam dolor blanditiis a voluptate debitis. Rem quibusdam in totam at, assumenda debitis hic cum magnam porro vero consectetur.</p>
                        <button>
                            <i class="fa fa-amazon" aria-hidden="true"></i>
                            <span> Buy on Amazon</span>
                        </button>
                        <button>
                            <i class="fa fa-apple" aria-hidden="true"></i>
                            <span> Buy on AppStore</span>
                        </button>
                    </div>
                </div>
            </div>
        </header>
    <!-- MAIN     -->
        <main>

        <!-- first section -->
            <section class="about">
                <h1 class="more-tit">
                    More About Damon Vaughn
                </h1> 
                <p class="more-info">
                    Damon Vaughn is a professor of psychology at the University of Toronto, a clinical psychologist and the author of the multi-million copy bestseller “The story of my life.”
                </p>
                <button class="meet">
                    Meet the Author
                </button>
            </section>
            
        <!-- second section -->
            <section class="read">
                <div class="meth-read">
                    <img src="../../images/ebay-logotan-2x-200x66.png" alt="">
                </div>
                <div class="meth-read">
                    <img src="../../images/audible-logotan-2x-200x66.png" alt="">
                </div>
                <div class="meth-read">
                    <img src="../../images/bb-logotan-2x-200x66.png" alt="">
                </div>
                <div class="meth-read">
                    <img src="../../images/kindlefire-logotan-2x-200x66.png" alt="">
                </div>
            
            </section>

        <!-- third section -->
            <section class="banner">
                <div class="banner-container">
                    <div class="audible-app">

                        <img src="../../images/audible-app-2x-400x418.png" alt="">
                    </div>
                    <div class="new-audio">
                        <h2>New Audiobook</h2>
                        <h5>NO TIME TO READ? NO PROBLEM. LISTEN TO IT</h5>
                        <p>Donec fringilla nunc eu turpis dignissim, at euismod sapien tincidunt. Maecenas eleifend congue cursus.</p>
                        <div>
                            <img src="../../images/audible-logo.png" alt="">
                            <img src="../../images/bn-logo-tall.png" alt="">
                            <img src="../../images/kindle-logo-tall.png" alt="">
                        </div>
                    </div>
                </div>
            </section>

        <!-- fourth section -->
            <section class="feedback">
                <div class="critics">
                    <div class="tit-critics">                        
                        <h2>What The Critics Say</h2>
                        <h5>TESTIMONIALS FROM AROUND THE WORLD</h5>
                    </div>
                    <div class="btn">

                        <button>Read All Testimonials</button>
                    </div>
                </div>
                <div class="all-tweets">

                    <div class="big-tweet">
                        <div class="big-tw-text">
                            <h1>
                                Best author of his generation
                            </h1>
                            <hr>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, veniam neque, vel aut quae at esse quaerat atque, animi blanditiis sapiente harum culpa quis maiores voluptatibus accusamus aspernatur provident laudantium?
                            </p>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam illum sint repudiandae consequuntur qui facere ab sed enim non nulla laudantium ipsam, natus similique odio excepturi. Quod minus molestiae dignissimos?
                            </p>
                            <p>
                                <img src="../../images/nytimes-logo-white-xsmall.png" alt="">
                                <b>
                                      Justine Kilpatrick, 
                                </b> The New York Times
                            </p>
                        </div>
                        
                    </div>
                    <div class="min-tweet">
                        <div class="tweet">
                            <div class="tweet-text">

                                <h2>A True Masterpiece, Bravo!</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci cum quaerat aspernatur quae atque dolorem tenetur corporis mollitia impedit. Ducimus nulla sed quam rem? Natus veritatis molestias asperiores dolores ut.</p>
                            </div>
                                <div class="triangle"></div>
                            <p>
                                <img src="../../images/theguardian-xsmall.png" alt="">
                                <b>
                                    Gerald Hendley, 
                                </b> The Guardian
                            </p>
                        </div>
                        <div class="tweet">

                            <div class="tweet-text">
                                <h2>A Unique View On The World</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci cum quaerat aspernatur quae atque dolorem tenetur corporis mollitia impedit. Ducimus nulla sed quam rem? Natus veritatis molestias asperiores dolores ut.</p>
                            </div>
                            <div class="triangle"></div>
                                <p>
                                    <img src="../../images/globe-xsmall.png" alt="">
                                    <b>
                                        Mary Maxey, 
                                    </b> 
                                    The Globe And Mail
                                </p>
                        </div>
                    </div>
                </div>
            </section>  

        <!-- fifth section -->
            <section class="events">
                <div class="event-title">
                    <h1>Upcoming Events</h1>
                    <h4>MEET THE AUTHOR IN PERSON</h4>
                </div>
                <div class="event-list">
                    <div class="event">
                        <img src="../../images/event-05-400x240.jpg" alt="">
                        <h3>Chicago book Signing</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reprehenderit ducimus, rem ratione praesentium quia laborum quas, odio dignissimos a fugiat doloremque. Quas laboriosam soluta, ipsa tempore non minus tenetur.</p>
                    </div>
                    <div class="event">
                        <img src="../../images/event-04-400x240.jpg" alt="">
                        <h3>Meet & Freet With Amanda</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reprehenderit ducimus, rem ratione praesentium quia laborum quas, odio dignissimos a fugiat doloremque. Quas laboriosam soluta, ipsa tempore non minus tenetur.</p>
                    </div>
                    <div class="event">
                        <img src="../../images/event-07-400x240.jpg" alt="">
                        <h3>Open Book: Dialogues</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reprehenderit ducimus, rem ratione praesentium quia laborum quas, odio dignissimos a fugiat doloremque. Quas laboriosam soluta, ipsa tempore non minus tenetur.</p>
                    </div>
                </div>                    
            </section>

        <!-- sixth section -->
            <section class="newsletter">
                <div class="subscribe">
                    <h1>Subscribe To My Newsletter</h1>
                    <h4>BE NOTIFIED ABOUT BOOK SIGNING TOUR DATES</h4>
                    <div class="inp-sub">
                        <input type="email" name="email" placeholder="Insert your E-mail...*">
                        <button v-on:click="submitBut">Subcribe</button>
                    </div>
                    <p>Donec frigilla nunc eu turpis dignissim, at cuismos sapiens tincidunt.</p>
                </div>
            </section>

        <!-- seventh section -->
            <section class="more">
                <div class="tit-more">
                    <h1>Dig a Little Deeper Into Damon Vaughn</h1>
                    <h4>FIND OUT MORE ABOUT THE AUTHOR HIMSELF</h4>
                </div>
                <div class="cards-more">
                    <div class="card card1">
                        <div class="card-text">
                            <h2>About me</h2>
                            <hr>
                            <h5>Vestibulus ante ipsum primis</h5>
                        </div>
                    </div>
                    <div class="card card2">
                        <div class="card-text">
                            <h2>My Latest Book</h2>
                            <hr>
                            <h5>Vestibulus ante ipsum primis</h5>
                        </div>
                    </div>
                    <div class="card card3">
                        <div class="card-text">
                            <h2>Book Signing</h2>
                            <hr>
                            <h5>Vestibulus ante ipsum primis</h5>
                        </div>
                    </div>

                </div>
            </section>

        <!-- eighth section -->
            <section class="recent">
                <div class="recent-header">
                    <div class="recent-tit">
                        <h1>Recent Articles</h1>
                        <h4>READ THE LATEST ENTRIES</h4>
                    </div>
                    <button>All Articles</button>
                </div>
                <div class="recent-card">
                    <div class="big-rec-card">
                        <div class="rec-img">
                            <img src="../../images\20-Tips-800x471.jpg" alt="">
                        </div>
                        <div class="info-rec-card">
                            <h2>20 Creativity Tips</h2>
                            <p>By admin|October 24th, 2019|Categories: Event, Tips & Tricks</p>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet.</p>
                        </div>
                    </div>
                    <div class="s-rec-card">
                        <div class="s-card">
                            <div class="s-rec-img">
                                <img src="../../images/thumb-13-2x-320x202.jpg" alt="">
                            </div>
                            <div class="s-rec-descr">
                                <h3>What’s On Your Booklist?</h3>
                                <p>October 24th, 2019|0 Comments</p>
                            </div>
                        </div>
                        <div class="s-card">

                            <div class="s-rec-img">
                                <img src="../../images/thumb-08-2x-320x202.jpg" alt="">
                            </div>
                            <div class="s-rec-descr">
                                <h3>Istanbul Travel Guide</h3>
                                <p>October 24th, 2019|0 Comments</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


        </main>
    <!-- FOOTER    -->
        <footer>
            <div class="footer-list">
                <img src="../../images/author-logo-round-200x205.png" alt="">
            </div>
            <div class="footer-list">
                <h3>ABOUT ME</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates repudiandae a eveniet assumenda unde minus animi illum repellat iure. Autem voluptates atque perferendis provident doloremque repudiandae blanditiis culpa corrupti fuga.</p>
            </div>
            <div class="footer-list">
                <h3>USEFUL LINKS</h3>
                <ul>
                    <li v-for="el in footerLinks">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <a href="el.link" v-if="el.link">
                             {{ el.text }}</a>
                    </li>
                </ul>
            </div>
            <div class="footer-list">
                <h3>CONTACT INFO</h3>
                <p>Via Roma, 3</p>
                <p>Phone: (800)000-0000</p>
                <p>Mobile: (800)000-0000</p>
                <p>E-mail: info@author.com</p>

            </div>


            <!-- <div>
                <h3>twitter</h3>
                <ul>
                    <li v-for="tweet in footerData.twittData">
                        <a href="tweet.link">
                            {{tweet.text}}
                        </a>
                    </li>
                </ul>
            </div> -->
        </footer>
        
    </div>

    <script src="script/script.js"></script>
</body>
</html>