<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kristi&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kristi&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&family=Kristi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">

    <!-- HEADER   -->
        <header class="">
            
            <nav>
                <div class="logo">
                    <img src="imgs/author-logo-round-200x205.png" alt="">
                </div>
                <ul>
                    <li v-for="el in navbarLinks">
                        <a href="el.link" v-if="el.link">{{el.text}}</a> 

                        <!-- <span v-else-if="el.icon" @click="onDDClick">
                            <i class="fas" :class="el.icon"></i>
                            <div class="dropdown" v-if="el.childs">
                                <ul>
                                    <li v-for="child in childs">
                                        <a :href="childs.link" v-id="childs.link">
                                            {{childs.text}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span> -->
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="hero">
                <div class="author-name">
                    <h1>Damon Vaughn</h1>
                    <p>Best-selling author and the most influential public intellectual in the western world right now.</p>
                    <p class="NYT">– The New York Times</p>
                </div>
                <div class="buy">
                    <img src="imgs/book-widget.png" alt="">
                    <div class="last-book">
                        <h3>
                            Latest Book Release
                        </h3>
                        <h5>D. VAUGHN AUTOBIOGRAPHY</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates doloremque incidunt quam dolor blanditiis a voluptate debitis. Rem quibusdam in totam at, assumenda debitis hic cum magnam porro vero consectetur.</p>
                    </div>
                </div>
            </div>
        </header>
    <!-- MAIN     -->
        <main>

        <!-- first section -->
            <section class="about">
                <h1 class="more-tit">
                    More About Damon Vaughn
                </h1> 
                <p class="more-info">
                    Damon Vaughn is a professor of psychology at the University of Toronto, a clinical psychologist and the author of the multi-million copy bestseller “The story of my life.”
                </p>
                <button class="meet">
                    Meet the Author
                </button>
            </section>
            
        <!-- second section -->
            <section class="read">
                <div class="meth-read">
                    <img src="../imgs/ebay-logotan-2x-200x66.png" alt="">
                </div>
                <div class="meth-read">
                    <img src="../imgs/audible-logotan-2x-200x66.png" alt="">
                </div>
                <div class="meth-read">
                    <img src="../imgs/bb-logotan-2x-200x66.png" alt="">
                </div>
                <div class="meth-read">
                    <img src="../imgs/kindlefire-logotan-2x-200x66.png" alt="">
                </div>
                
            </section>

            


        </main>
    <!-- FOOTER    -->
        <footer class="">
            <div>
                <h3>twitter</h3>
                <ul>
                    <li v-for="tweet in footerData.twittData">
                        <a href="tweet.link">
                            {{tweet.text}}
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
        
        
    </div>

    <script src="script/script.js"></script>
</body>
</html>