footer{
    background-image: url(../../images/footer-3.jpg);
    .flex{
        display: flex;
        padding: 50px;
        div{
            width: 20%;
            color: white;
        padding: 10px;
        p{
            margin: 15px 0;
        }
        ul{
            list-style: none;
            li{
                margin: 15px 0;
                a{
                    text-decoration: none;
                    color: white;
                    &:hover{
                        color: $primary_color;
                    }
                }
                &:hover{
                    color: $primary_color;
                }   
            }
        }
    }
    }
    .copyright{
        text-align: center;
        color: white;
    }
}

.fix{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #bec6be;
    position: fixed;
    right: 15px;
}

.d-fix{
    top: 200px;
    i{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.b-fix{
    top: 280px;
    p{
        text-align: center;
    }
}
