footer{
    background-image: url(../../images/footer-3.jpg);
    height: 500px;
    display: flex;
    div{
        width: 20%;
        color: white;
        padding: 10px;
        p{
            margin: 15px 0;
        }
        ul{
            list-style: none;
            li{
                margin: 15px 0;
                a{
                    text-decoration: none;
                    color: white;
                    &:hover{
                        color: $primary_color;
                    }
                }
                &:hover{
                    color: $primary_color;
                }   
            }
        }
    }
}