header{
    background-image: url(../../images/hero-07-2x.jpg);
    height: 100vh;
    min-height: 600px;
    width: 100vw;
    max-width: 100%;
    background-size: cover; 
    position: relative;  
    nav{
        display: flex;
        .logo{
            flex-grow: 1;            
            img{
                display: inline-block;
                height: 150px;
                margin-left: 50px;
            }
        }
        ul{
            display: inline-block;
            padding: 50px;
            li{
                display: inline-block;
                margin: 10px;
                color: white;
                a{
                    text-decoration: none;
                    color: white;
                    font-weight: 600;
                    &:hover{
                        color: $primary_color;
                        border-top: 4px solid $primary_color;
                    }
                }

            }
        }
    }
    .hero{
        display: flex;
        .author-name{
        flex: 1;
        display: inline-block;
        padding: 50px 100px;
        h1{
            font-family: $authorFont;
            color: $primary_color;
            font-size: $primary_size;
            font-weight: 500;
        }
        p{
            color: white;
            font-size: 40px;
            font-family: $p_font
        }
        .NYT{
            font-family: $primary_font;
            font-size: 35px;
        }
    }
    .buy{
       flex: 1;
        display: flex;
        background-color: white;
        // position: absolute;
        // bottom: 0;
        flex-direction: row;
        img{
            display: inline;
        }
        .last-book{
            display: inline-block;
            h3{
                color: $primary_color;
            }
            button{
                padding: 10px 20px;
                border-radius: 5px;
                &:hover{
                    background-color: #51bfc7;
                    border: none;
                }
            }
        }
    }
}
}