$authorFont : 'Kristi', cursive;
$primary_font : 'DM Sans', sans-serif;
$p_font : 'DM Serif Display', serif;

$primary_color: #e1aa40;
$button_color: #3da698;
$button_color_hover: #027986;
$bg_section: #f3ece3;

$primary_size: 60px;
